/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Type
//--------------------------------------------------------------------

$serif: 'Maitree', serif;
$sans: 'Muli', sans-serif;

.serif {
	font-family: $serif;
}

.sans {
	font-family: $sans;
}

//--------------------------------------------------------------------
// Color
//--------------------------------------------------------------------

$dark-gray: #444;
$white: #fff;
$link-blue: #268bd2;
$link-blue-light: #73c5ff;
$light-gray: #f8f8f8;
$deep-purp: #2c223a;
$blue:	#0074D9;


//--------------------------------------------------------------------
// Spacing
//--------------------------------------------------------------------

$unit-small:	25px;
$unit-medium:	50px;
$unit-large:	100px;
$unit-xlarge:	200px;


//--------------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------------

$bp-small:		26em;
$bp-medium:		35em;
$bp-large:		48em;
$bp-xlarge:		68em;

//--------------------------------------------------------------------
// Z Index
//--------------------------------------------------------------------

$z-100:			100;
$z-200:			200;
$z-300:			300;	

